/* here you can put your own css to customize and override the theme */
/* =Layout
---------------------------------------------------- */
body {
  color: #333333;
  background-color: #e9ecf3;
  font-family: 'Raleway', sans-serif;
  font-feature-settings: 'lnum';
  -moz-font-feature-settings: 'lnum=1';
  -ms-font-feature-settings: 'lnum';
  -webkit-font-feature-settings: 'lnum';
  -o-font-feature-settings: 'lnum'; }

/* Typography
---------------------------------------------------- */
h1 {
  font-size: 40px;
  color: #00103e;
  font-weight: normal;
  text-transform: uppercase; }

h2 {
  font-size: 35px;
  color: #00103e;
  font-weight: normal; }

h3 {
  font-size: 25px;
  color: #1655d6;
  font-weight: bold; }

h4 {
  font-size: 20px;
  color: #1655d6;
  font-weight: normal; }

.font-status-positive {
  color: #01bc7d !important; }

.font-status-static {
  color: gold !important; }

.font-status-negative {
  color: #e03412 !important; }

/* =Buttons
---------------------------------------------------- */
.btn {
  display: inline-block !important;
  border-radius: 5px;
  transition: all 0.25s ease-in-out; }

.btn-rounded {
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 1em; }

.btn-default,
.btn-info {
  color: #e03412;
  background-color: transparent;
  border: 2px solid #e03412; }
  .btn-default:hover, .btn-default:focus, .btn-default:active,
  .btn-info:hover,
  .btn-info:focus,
  .btn-info:active {
    color: #fff;
    background-color: #e03412;
    border: 2px solid #e03412; }

.btn-primary {
  color: #fff;
  background-color: #e03412;
  border: 2px solid #e03412; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #b1290e;
    border: 2px solid #b1290e; }

.btn.blue {
  color: #fff;
  background-color: #1655d6 !important;
  border: none; }

.btn.blue:hover {
  background-color: #0f3991 !important; }

.navbar .btn-logout {
  color: #e9ecf3;
  margin-top: 20px; }

/* Molecules
---------------------------------------------------- */
.module {
  border-radius: 5px; }

/* =Portlet
---------------------------------------------------- */
.portlet.light > .portlet-title > .caption {
  color: #333333 !important;
  font-weight: normal; }

/* =Table
---------------------------------------------------- */
table thead {
  color: #333333; }

table thead tr th {
  color: #333333;
  border: none !important; }

table.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f0f2f7; }

/* =Dashboard
---------------------------------------------------- */
.dashboard-hero {
  padding: 20px;
  background: #fff url(/images/bg-hills.jpg) center no-repeat;
  background-size: 100% auto;
  background-position: center bottom;
  margin-bottom: 20px; }
  .dashboard-hero h2 {
    font-weight: bold;
    margin-top: 0; }
  .dashboard-hero h3 {
    text-transform: uppercase;
    margin-top: 0; }

.dashboard-hero-logo {
  display: block;
  float: right;
  max-height: 80px; }

.dashboard-stat2 .node-value {
  color: #092c7b; }
