/* here you can put your own css to customize and override the theme */
/* Typography
---------------------------------------------------- */
html, body {
  min-height: 100%; }

body {
  color: #333333;
  background-color: #e9ecf3;
  background-size: 100% auto;
  font-family: 'Raleway', sans-serif;
  font-feature-settings: 'lnum';
  -moz-font-feature-settings: 'lnum=1';
  -ms-font-feature-settings: 'lnum';
  -webkit-font-feature-settings: 'lnum';
  -o-font-feature-settings: 'lnum'; }

h1 {
  font-size: 24px;
  color: #00103e;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 0.5em; }

h2 {
  font-size: 20px;
  color: #00103e;
  font-weight: normal; }

h3 {
  font-size: 18px;
  color: #1655d6;
  font-weight: bold; }

h4 {
  font-size: 16px;
  color: #1655d6;
  font-weight: normal; }

h5 {
  font-size: 16px;
  color: inherit;
  font-weight: normal; }

@media (min-width: 1200px) {
  h1 {
    font-size: 40px; }
  h2 {
    font-size: 35px; }
  h3 {
    font-size: 25px; }
  h4 {
    font-size: 20px; }
  h5 {
    font-size: 18px; } }

@media (max-width: 1199px) {
  ul, ol, p,
  table th,
  table td,
  .btn {
    font-size: 100% !important; } }

a {
  color: #1655d6; }
  a:hover, a:focus, a:active {
    color: #1143a8;
    text-decoration: underline; }

p.lead + p.lead {
  margin-top: -0.5em; }

p.lead + p:not(.lead) {
  margin-top: -1em; }

/* =Add-on design
---------------------------------------------------- */
.login-wrapper {
  background: #01264a url(/images/login-bg.jpg?v3) center no-repeat;
  background-position: center top;
  min-height: 100%;
  padding-top: 2%;
  padding-bottom: 2%; }
  @media (min-width: 1200px) {
    .login-wrapper {
      background-size: cover; } }
  .login-wrapper .login-logo {
    display: block;
    margin: 0 auto 2em;
    max-width: 100px; }
    @media (min-width: 480px) {
      .login-wrapper .login-logo {
        max-width: 150px; } }
  .login-wrapper .login-heading {
    margin: 0 auto;
    max-width: 90%;
    text-align: center; }
  .login-wrapper .login-widget {
    margin-top: 0 !important; }
    .login-wrapper .login-widget #a0-lock .a0-panel {
      margin: 0 auto;
      -webkit-box-shadow: none;
      border: 1px solid #e9ecf3;
      border-radius: 1em;
      overflow: hidden; }
      .login-wrapper .login-widget #a0-lock .a0-panel .a0-bg-gradient {
        background-color: #f2f2f2;
        opacity: 1; }
      .login-wrapper .login-widget #a0-lock .a0-panel .a0-icon-container .a0-image img {
        height: 0; }
      .login-wrapper .login-widget #a0-lock .a0-panel .a0-footer .a0-logo {
        display: none; }
      .login-wrapper .login-widget #a0-lock .a0-panel button.a0-primary {
        margin: 0 auto;
        position: relative;
        display: inline-block;
        width: auto !important;
        padding: 0.66em 3em;
        text-indent: 0;
        height: auto;
        border-radius: 5em; }
        .login-wrapper .login-widget #a0-lock .a0-panel button.a0-primary:after {
          display: none; }
      .login-wrapper .login-widget #a0-lock .a0-panel .a0-success {
        color: #fff; }
      .login-wrapper .login-widget #a0-lock .a0-panel .a0-forgot-pass {
        border: 1px solid #d9d9d9;
        padding: 0.25em 1em;
        color: #333333;
        font-size: 80%;
        font-weight: 600;
        text-transform: uppercase;
        background-color: #fff;
        border-color: 1px solid #333333;
        border-radius: 3em; }
        .login-wrapper .login-widget #a0-lock .a0-panel .a0-forgot-pass:hover, .login-wrapper .login-widget #a0-lock .a0-panel .a0-forgot-pass:focus, .login-wrapper .login-widget #a0-lock .a0-panel .a0-forgot-pass:active {
          color: #333333;
          background-color: #d9d9d9;
          text-decoration: none; }
  .login-wrapper .login-footer {
    margin: 2em auto;
    max-width: 90%;
    text-align: center;
    color: #fff;
    font-size: 100%; }
    .login-wrapper .login-footer a {
      padding: 0.25em 1em;
      color: #333333;
      font-size: 80%;
      font-weight: 600;
      text-transform: uppercase;
      background-color: #fff;
      border-color: 1px solid #d9d9d9;
      border-radius: 3em; }
      .login-wrapper .login-footer a:hover, .login-wrapper .login-footer a:focus, .login-wrapper .login-footer a:active {
        color: #333333;
        background-color: #d9d9d9;
        text-decoration: none; }

.page-boxed .page-wrapper {
  background: transparent url(/images/footer-bg-mobile.png) center bottom no-repeat; }
  @media (min-width: 480px) {
    .page-boxed .page-wrapper {
      background: transparent url(/images/footer-bg.png) center bottom no-repeat; } }

.page-boxed .page-header.navbar .page-logo .logo-default {
  max-width: 125px; }
  @media (max-width: 480px) {
    .page-boxed .page-header.navbar .page-logo .logo-default {
      margin-top: 18px; } }
  @media (min-width: 480px) {
    .page-boxed .page-header.navbar .page-logo .logo-default {
      max-width: 170px; } }

@media (max-width: 480px) {
  .page-boxed .container {
    padding-left: 0;
    padding-right: 0; } }

.page-boxed .page-container {
  background-color: transparent; }

@media (max-width: 480px) {
  .page-boxed .portlet {
    padding: 10px 10px 15px; } }

.page-boxed .page-footer {
  text-align: center;
  color: #7c8eb8;
  height: auto;
  padding-top: 200px;
  padding-bottom: 20px; }
  @media (max-width: 480px) {
    .page-boxed .page-footer {
      padding-top: 120px; } }

.page-boxed .footer-nav {
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0; }

.page-boxed .footer-nav li {
  display: inline-block; }

.page-boxed .footer-nav li a {
  display: block;
  color: #7c8eb8;
  text-decoration: none;
  padding: 0.5em; }
  .page-boxed .footer-nav li a:hover, .page-boxed .footer-nav li a:focus, .page-boxed .footer-nav li a:active {
    color: #e9ecf3; }

.page-boxed .go-top {
  margin-left: 0.5em; }
  .page-boxed .go-top a {
    color: #7c8eb8; }
    .page-boxed .go-top a:hover, .page-boxed .go-top a:focus, .page-boxed .go-top a:active {
      color: #fff; }

/* =Buttons
---------------------------------------------------- */
.btn {
  display: inline-block !important;
  border-radius: 5px;
  color: #333333;
  background-color: #fff;
  border: 1px solid #333333;
  border-radius: 3em; }

.btn-default {
  color: #1655d6;
  background-color: transparent;
  border: 2px solid #1655d6; }
  .btn-default:hover, .btn-default:focus, .btn-default:active {
    color: #fff;
    background-color: #1655d6;
    border: 2px solid #1655d6; }

.btn-primary {
  color: #fff;
  background-color: #e03412;
  border: 2px solid #e03412; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #b1290e;
    border: 2px solid #b1290e; }

.btn.btn-warning {
  color: orange;
  background-color: transparent;
  border: 2px solid orange; }
  .btn.btn-warning:hover, .btn.btn-warning:focus, .btn.btn-warning:active {
    color: #fff;
    background-color: orange;
    border: 2px solid orange; }

.btn-info {
  color: #e03412;
  background-color: transparent;
  border: 2px solid #e03412; }
  .btn-info:hover, .btn-info:focus, .btn-info:active {
    color: #fff;
    background-color: #e03412;
    border: 2px solid #e03412; }

.btn.blue {
  color: #fff;
  background-color: #1655d6 !important;
  border: none; }
  .btn.blue:hover, .btn.blue:focus, .btn.blue:active {
    background-color: #0f3991 !important; }

.btn-rounded {
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 3em; }

.btn-header {
  display: block;
  float: right;
  vertical-align: top;
  margin-top: 20px;
  margin-right: 1em;
  padding: 8px 1em;
  border: 2px solid #01bc7d;
  border-radius: 3em;
  color: #fff;
  text-transform: uppercase;
  font-size: 80%;
  transition: all 0.25s ease-in-out; }
  .btn-header:hover, .btn-header:active, .btn-header:focus {
    color: #fff;
    text-decoration: none;
    background-color: #01bc7d; }
  @media (min-width: 480px) {
    .btn-header {
      padding: 8px 2em; } }

.btn-update-payment span {
  min-height: 0 !important; }

.btn-tool {
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 3em; }

button.btn-tool.dropdown-toggle {
  padding-left: 0.25em !important;
  padding-right: 0.25em !important; }

@media (max-width: 767px) {
  .actions.pull-left,
  .actions.pull-right {
    float: left !important;
    clear: left; }
  .actions.pull-left {
    margin-bottom: 10px; } }

.navbar-nav .btn-nav .username {
  color: #e9ecf3 !important;
  opacity: 0.6;
  margin-top: 20px; }
  .navbar-nav .btn-nav .username:hover, .navbar-nav .btn-nav .username:focus, .navbar-nav .btn-nav .username:active, .navbar-nav .btn-nav .username:active {
    background: transparent;
    opacity: 1; }
  .navbar-nav .btn-nav .username i {
    margin-left: 1em; }

/* =Forms
---------------------------------------------------- */
.hint-block {
  text-transform: uppercase;
  font-size: 80%;
  letter-spacing: 1px; }

.control-label {
  font-weight: bold; }

.control-label + .hint-block {
  margin-top: 0;
  margin-bottom: 10px; }

/* =Molecules
---------------------------------------------------- */
.mmw-date,
.mmw-url {
  display: inline-block;
  font-size: 50%;
  color: #aab5bc;
  background-color: #fff;
  padding: 0.5em 1em;
  border-radius: 5px;
  vertical-align: top; }

/* =Modules
---------------------------------------------------- */
.mntns-bg {
  background: #fff url(/images/bg-hills.jpg) center no-repeat;
  background-size: 100% auto;
  background-position: center bottom; }

/* =portlet
---------------------------------------------------- */
.portlet.light > .portlet-title > .caption {
  color: #333333 !important;
  font-weight: normal; }

h3.help-text {
  font-weight: normal;
  color: #aab5bc; }

h3.help-text i {
  margin-bottom: 0.66em; }

/* =Dashboard
---------------------------------------------------- */
.dashboard-hero {
  padding: 20px;
  margin-bottom: 20px; }
  .dashboard-hero h2 {
    font-weight: bold;
    margin-top: 0; }
  .dashboard-hero h3 {
    text-transform: uppercase;
    margin-top: 0.25em; }

.dashboard-hero-logo {
  display: block;
  float: right;
  max-height: 50px;
  margin: 0 0 1em 1em; }
  @media (min-width: 768px) {
    .dashboard-hero-logo {
      max-height: 80px; } }

/* =Stat Boxes
---------------------------------------------------- */
@media (min-width: 1200px) {
  .dashboard-stat2 .display {
    min-height: 5.5em; } }

.dashboard-stat2 .node-value {
  color: #092c7b;
  letter-spacing: -1px;
  font-size: 200% !important; }

.dashboard-stat2 small i {
  font-size: 75% !important; }

.glyphicon-chevron-up,
.glyphicon-chevron-up + span {
  color: #2ab4c0 !important; }

.glyphicon-chevron-down,
.glyphicon-chevron-down + span {
  color: #e03412 !important; }

/* =Chart.js
---------------------------------------------------- */
.chart-legend {
  margin: 2em 1em; }
  @media (min-width: 768px) {
    .chart-legend {
      columns: 2; } }
  @media (min-width: 1200px) {
    .chart-legend {
      columns: 3; } }

.chart-legend ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.chart-legend ul li span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 0.66em;
  border-radius: 12px; }

/* =Graphs
---------------------------------------------------- */
@media (max-width: 480px) {
  .graph-helper {
    padding: 0.5em;
    border-radius: 5px; } }

@media (min-width: 480px) {
  .graph-helper {
    display: block; } }

/* =Social Engagement Widgets (Facebook Engagement/Comptitor Sales Messaging)
---------------------------------------------------- */
.social-post-title {
  margin-bottom: 0.75em;
  color: #333333; }

.social-post-template {
  margin-bottom: 2em;
  color: #7f909a; }

.social-post-image-wrapper {
  position: relative; }

.social-post-image-wrapper .fb-icon {
  position: absolute;
  z-index: 5;
  top: 10px;
  left: 10px;
  color: #fff; }

.social-post-image {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #e9ecf3; }

a .social-post-image {
  transition: filter 0.33s ease-in-out; }
  a .social-post-image:hover {
    filter: brightness(110%); }

.social-post-content {
  border-left: 3px solid #e9ecf3;
  padding-left: 1.33em;
  line-height: 1.66; }

.social-post-meta {
  text-align: right; }

.social-post-meta-label {
  margin-right: 1em; }

.fb-icon {
  font-size: 150%; }

.competitor-list {
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0; }

.competitor-list li {
  padding: 0.33em 1em; }
  .competitor-list li:nth-of-type(odd) {
    background-color: #f0f2f7; }

.competitor-list label {
  display: block; }

.competitor-list .competitor-radio {
  margin-right: 0.5em; }
  .competitor-list .competitor-radio:checked + span {
    font-weight: bold; }

.ad-template {
  border: 1px solid #e9ecf3;
  border-radius: 5px;
  margin-bottom: 1em; }

.ad-content {
  padding: 0.25em 1em 0;
  color: #545454; }

.ad-title {
  color: #1655d6; }

.ad-icon {
  background-color: #fff;
  border-radius: 2px;
  color: #006621;
  display: inline-block;
  font-size: 12px;
  border: 1px solid #006621;
  padding: 0 2px 0 2px;
  line-height: 14px;
  vertical-align: baseline;
  margin-right: 5px; }

.ad-link {
  color: #006621; }
  .ad-link:hover {
    color: #006621;
    text-decoration: underline; }

.ad-description {
  margin-top: 0.25em; }

/* =Nav
---------------------------------------------------- */
.nav > li > a {
  color: #e9ecf3 !important;
  opacity: 0.6; }
  .nav > li > a:hover, .nav > li > a:focus, .nav > li > a:active, .nav > li > a:active {
    background: transparent;
    opacity: 1; }

.page-sidebar .page-sidebar-menu > li > a {
  border-top: none; }

.page-sidebar .page-sidebar-menu > li.divider {
  border-top: 2px solid #3570ea; }

.page-header.navbar .menu-toggler.responsive-toggler {
  margin: 22px 0 0 0; }
  @media (min-width: 1200px) {
    .page-header.navbar .menu-toggler.responsive-toggler {
      margin: 22px 14px 0 6px; } }

/* =Table Overrides
---------------------------------------------------- */
table thead {
  color: #333333; }

table thead tr th,
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border: none !important; }

table.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f0f2f7; }

.table.table-light > thead > tr > th {
  color: #333333; }

.table.table-light > tbody > tr > td {
  color: #333333; }
  .table.table-light > tbody > tr > td a {
    color: #333333;
    text-decoration: underline; }
    .table.table-light > tbody > tr > td a:hover, .table.table-light > tbody > tr > td a:focus, .table.table-light > tbody > tr > td a:active {
      color: #1655d6; }
    .table.table-light > tbody > tr > td a:visited {
      color: #999999; }

.table-responsive {
  border: none; }

.floatThead-wrapper > div {
  z-index: 0 !important; }

@media screen and (max-width: 480px) {
  .kv-table-wrap td,
  .kv-table-wrap th {
    display: table-cell;
    text-align: left;
    width: auto !important; } }

/* =Pagination
---------------------------------------------------- */
.pagination {
  margin-top: 15px; }
  .pagination > li > a,
  .pagination > li > span {
    color: #1655d6;
    background-color: #fff; }
  .pagination > li > a:hover, .pagination > li > a:focus,
  .pagination > li > span:hover,
  .pagination > li > span:focus {
    z-index: 2;
    color: #fff;
    background-color: #1655d6;
    border-color: #1655d6; }
  .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
  .pagination > .active > span,
  .pagination > .active > span:hover,
  .pagination > .active > span:focus {
    color: #fff;
    background-color: #1655d6;
    border-color: #1655d6; }

/* =Manage Margets
---------------------------------------------------- */
.list-view > div:nth-of-type(2n+3) {
  clear: left; }
