/* here you can put your own css to customize and override the theme */
/* Typography
---------------------------------------------------- */
html, body {
  min-height: 100%; }

body {
  color: #333333;
  background-color: #e9ecf3;
  background-size: 100% auto;
  font-family: 'Raleway', sans-serif;
  font-feature-settings: 'lnum';
  -moz-font-feature-settings: 'lnum=1';
  -ms-font-feature-settings: 'lnum';
  -webkit-font-feature-settings: 'lnum';
  -o-font-feature-settings: 'lnum'; }

h1 {
  font-size: 24px;
  color: #00103e;
  font-weight: normal;
  margin-top: 0.5em; }

h2 {
  font-size: 20px;
  color: #00103e;
  font-weight: normal; }

h3 {
  font-size: 18px;
  color: #1655d6;
  font-weight: bold; }

h4 {
  font-size: 16px;
  color: #1655d6;
  font-weight: normal; }

h5 {
  font-size: 16px;
  color: inherit;
  font-weight: normal; }

@media (min-width: 1200px) {
  h1 {
    font-size: 40px; }
  h2 {
    font-size: 32px; }
  h3 {
    font-size: 22px; }
  h4 {
    font-size: 18px; }
  h5 {
    font-size: 16px; } }

@media (max-width: 1199px) {
  ul, ol, p,
  table th,
  table td,
  .btn {
    font-size: 100% !important; } }

a {
  color: #1655d6; }
  a:hover, a:focus, a:active {
    color: #1143a8;
    text-decoration: underline; }

.align-center {
  text-align: center; }

p.lead + p.lead {
  margin-top: -0.5em; }

p.lead + p:not(.lead) {
  margin-top: -1em; }

.cf {
  *zoom: 1; }
  .cf:before, .cf:after {
    content: " ";
    display: table; }
  .cf:after {
    clear: both; }

/* =Layout
---------------------------------------------------- */
.page-sidebar-wrapper {
  position: relative;
  z-index: 5; }

.page-content-wrapper {
  position: relative;
  z-index: 1; }

.page-boxed .page-wrapper {
  background: transparent url(/images/footer-bg-mobile.png) center bottom no-repeat; }
  @media (min-width: 480px) {
    .page-boxed .page-wrapper {
      background: transparent url(/images/footer-bg.png) center bottom no-repeat; } }

.page-boxed .page-header.navbar .page-logo .logo-default {
  max-width: 125px; }
  @media (max-width: 480px) {
    .page-boxed .page-header.navbar .page-logo .logo-default {
      margin-top: 18px; } }
  @media (min-width: 480px) {
    .page-boxed .page-header.navbar .page-logo .logo-default {
      max-width: 170px; } }

@media (max-width: 480px) {
  .page-boxed .container {
    padding-left: 0;
    padding-right: 0; } }

.page-boxed .page-container {
  background-color: transparent; }

.page-boxed .page-footer {
  text-align: center;
  color: #7c8eb8;
  height: auto;
  padding-top: 200px;
  padding-bottom: 20px; }
  @media (max-width: 480px) {
    .page-boxed .page-footer {
      padding-top: 120px; } }

.page-boxed .footer-nav {
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0; }

.page-boxed .footer-nav li {
  display: inline-block; }

.page-boxed .footer-nav li a {
  display: block;
  color: #7c8eb8;
  text-decoration: none;
  padding: 0.5em; }
  .page-boxed .footer-nav li a:hover, .page-boxed .footer-nav li a:focus, .page-boxed .footer-nav li a:active {
    color: #e9ecf3; }

.page-boxed .go-top {
  margin-left: 0.5em; }
  .page-boxed .go-top a {
    color: #7c8eb8; }
    .page-boxed .go-top a:hover, .page-boxed .go-top a:focus, .page-boxed .go-top a:active {
      color: #fff; }

/* =Buttons
---------------------------------------------------- */
/*
.btn { 
	display:inline-block !important; 
	border-radius:$br-sm; 
	//transition:all 0.25s ease-in-out; 
	color:$grey;
	background-color:#fff;
	border:1px solid $grey;
	border-radius:$br-lg; 
}
.btn-default { 
	color:$blue; 
	background-color:transparent; 
	border:2px solid $blue;
	&:hover, &:focus, &:active { 
		color:#fff; 
		background-color:$blue; 
		border:2px solid $blue; 
	}
}
.btn-primary { 
	color:#fff; 
	background-color:$red; 
	border:2px solid $red;
	&:hover, &:focus, &:active { 
		color:#fff; 
		background-color:darken($red, 10%);
		border:2px solid darken($red, 10%);
	}
}
.btn.btn-warning { 
	color:$gold; 
	background-color:transparent; 
	border:2px solid $gold;
	&:hover, &:focus, &:active { 
		color:#fff; 
		background-color:$gold; 
		border:2px solid $gold; 
	}
}
.btn-info { 
	color:$red; 
	background-color:transparent; 
	border:2px solid $red;
	&:hover, &:focus, &:active { 
		color:#fff; 
		background-color:$red; 
		border:2px solid $red; 
	}
}
.btn.blue { 
	color:#fff; 
	background-color:$blue !important; 
	border:none; 
	&:hover, &:focus, &:active { 
		background-color:darken($blue, 15%) !important; 
	}
}
.btn-rounded { 
	padding-left:2em; 
	padding-right:2em; 
	border-radius:$br-lg; 
}
.btn-header {
	display:block; 
	float:right; 
	vertical-align:top; 
	margin-top:20px; 
	margin-right:1em;
	padding:8px 1em; 
	border:2px solid $green;
	border-radius:$br-lg; 
	color:#fff;
	text-transform:uppercase; 
	font-size:80%; 
	transition:all 0.25s ease-in-out;
	&:hover, &:active, &:focus { 
		color:#fff; 
		text-decoration:none;
		background-color:$green; 
	}
	&:visited {
		color:#fff; 
	}
	@media (min-width:$screen-xs) { padding:8px 2em; }
}
.btn-update-payment {
	// override min-height:30px set by stripe on this button
	span {
		min-height:0 !important;
	}
}

// manage market widget
.btn-tool {
	padding-left:1em;
	padding-right:1em;
	border-radius:$br-lg; 
}
button.btn-tool.dropdown-toggle {
	padding-left:0.25em !important;
	padding-right:0.25em !important;
}

@media (max-width:$screen-xs-max) {
	.actions.pull-left,
	.actions.pull-right { 
		float:left !important; 
		clear:left; 
	}
	.actions.pull-left { 
		margin-bottom:10px; 
	}
}

.navbar-nav .btn-nav .username {
	color:$grey-steel !important;
	opacity:0.6;
	margin-top:20px;
	&:hover, &:focus, &:active, &:active { 
		background:transparent; 
		opacity:1; 
	}
	i { 
		margin-left:1em; 
	}
}
*/
.btn.blue:not(.btn-outline) {
  background-color: #1655d6;
  border-color: #1655d6; }
  .btn.blue:not(.btn-outline):hover {
    background-color: #1143a8;
    border-color: #1143a8; }

/* =Forms
---------------------------------------------------- */
.hint-block {
  text-transform: uppercase;
  font-size: 80%;
  letter-spacing: 1px; }

.control-label {
  font-weight: bold; }

.control-label + .hint-block {
  margin-top: 0;
  margin-bottom: 10px; }

/* =Molecules
---------------------------------------------------- */
.mmw-date,
.mmw-url {
  display: inline-block;
  font-size: 50%;
  color: #acb5c3;
  background-color: #fff;
  padding: 0.5em 1em;
  border-radius: 4px;
  vertical-align: top; }

/* =Modules
---------------------------------------------------- */
.mntns-bg {
  background: #fff url(/images/bg-hills.jpg) center no-repeat;
  background-size: 100% auto;
  background-position: center bottom; }

/* =Portlet
---------------------------------------------------- */
@media (max-width: 480px) {
  .portlet {
    padding: 10px 10px 15px !important; } }

.portlet.light > .portlet-title > .caption {
  color: #333333 !important;
  font-weight: normal; }

h3.help-text {
  font-weight: normal;
  color: #acb5c3; }

h3.help-text i {
  margin-bottom: 0.66em; }

/* =Dashboard
---------------------------------------------------- */
.dashboard-hero {
  padding: 20px;
  margin-bottom: 20px; }
  .dashboard-hero h2 {
    font-weight: bold;
    margin-top: 0; }
  .dashboard-hero h3 {
    text-transform: uppercase;
    margin-top: 0.25em; }

.dashboard-hero-logo {
  display: block;
  float: right;
  max-height: 50px;
  margin: 0 0 1em 1em; }
  @media (min-width: 768px) {
    .dashboard-hero-logo {
      max-height: 80px; } }

/* =Stat Boxes
---------------------------------------------------- */
@media (min-width: 1200px) {
  .dashboard-stat2 .display {
    min-height: 5.5em; } }

.dashboard-stat2 .node-value {
  color: #092c7b;
  letter-spacing: -1px;
  font-size: 200% !important; }

.dashboard-stat2 small i {
  font-size: 75% !important; }

.glyphicon-chevron-up,
.glyphicon-chevron-up + span {
  color: #2ab4c0 !important; }

.glyphicon-chevron-down,
.glyphicon-chevron-down + span {
  color: #e03412 !important; }

/* =Chart.js
---------------------------------------------------- */
.chart-legend {
  margin: 2em 1em; }
  @media (min-width: 768px) {
    .chart-legend {
      columns: 2; } }
  @media (min-width: 1200px) {
    .chart-legend {
      columns: 3; } }

.chart-legend ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.chart-legend ul li span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 0.66em;
  border-radius: 12px; }

/* =Graphs
---------------------------------------------------- */
@media (max-width: 480px) {
  .graph-helper {
    padding: 0.5em;
    border-radius: 4px; } }

@media (min-width: 480px) {
  .graph-helper {
    display: block; } }

/* =Social Engagement Widgets (Facebook Engagement/Comptitor Sales Messaging)
---------------------------------------------------- */
.social-post-title {
  margin-bottom: 0.75em;
  color: #333333; }

.social-post-template {
  margin-bottom: 2em;
  color: #808da3; }

.social-post-image-wrapper {
  position: relative; }

.social-post-image-wrapper .fb-icon {
  position: absolute;
  z-index: 5;
  top: 10px;
  left: 10px;
  color: #fff; }

.social-post-image {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  border: 1px solid #e9ecf3; }

a .social-post-image {
  transition: filter 0.33s ease-in-out; }
  a .social-post-image:hover {
    filter: brightness(110%); }

.social-post-content {
  border-left: 3px solid #e9ecf3;
  padding-left: 1.33em;
  line-height: 1.66; }

.social-post-meta {
  text-align: right; }

.social-post-meta-label {
  margin-right: 1em; }

.fb-icon {
  font-size: 150%; }

.competitor-list {
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0; }

.competitor-list li {
  padding: 0.33em 1em; }
  .competitor-list li:nth-of-type(odd) {
    background-color: #f0f2f7; }

.competitor-list label {
  display: block; }

.competitor-list .competitor-radio {
  margin-right: 0.5em; }
  .competitor-list .competitor-radio:checked + span {
    font-weight: bold; }

.ad-template {
  border: 1px solid #e9ecf3;
  border-radius: 4px;
  margin-bottom: 1em; }

.ad-content {
  padding: 0.25em 1em 0;
  color: #545454; }

.ad-title {
  color: #1655d6; }

.ad-icon {
  background-color: #fff;
  border-radius: 2px;
  color: #006621;
  display: inline-block;
  font-size: 12px;
  border: 1px solid #006621;
  padding: 0 2px 0 2px;
  line-height: 14px;
  vertical-align: baseline;
  margin-right: 5px; }

.ad-link {
  color: #006621; }
  .ad-link:hover {
    color: #006621;
    text-decoration: underline; }

.ad-description {
  margin-top: 0.25em; }

.landing-img {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  border: 1px solid #fff; }

/* =Nav
---------------------------------------------------- */
/* .nav > li > a {
	color:$grey-steel !important;
	opacity:0.6;
	&:hover, &:focus, &:active, &:active { 
		background:transparent; opacity:1; 
	}
} */
.page-sidebar .page-sidebar-menu > li > a {
  border-top: none; }

.page-sidebar .page-sidebar-menu > li.divider {
  border-top: 2px solid #3570ea; }

.page-header.navbar .menu-toggler.responsive-toggler {
  margin: 22px 0 0 0; }
  @media (min-width: 1200px) {
    .page-header.navbar .menu-toggler.responsive-toggler {
      margin: 22px 14px 0 6px; } }

@media (min-width: 992px) {
  .page-sidebar {
    position: fixed; } }

/* =Table Overrides
---------------------------------------------------- */
table {
  color: #333333; }

td {
  text-align: left;
  background-color: transparent; }

/* table thead { 
	color:$grey; 
}
table thead tr th,
.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td { 
	border:none !important;
}
table.table-striped > tbody > tr:nth-of-type(odd) {
	background-color:lighten($grey-steel, 2%);
}
.table.table-light > thead > tr > th {
	color:$grey;	
}
.table.table-light > tbody > tr > td { 
	color:$grey;
	a {
		color:$grey;
		text-decoration:underline;
		&:hover, &:focus, &:active {
			color:$blue;
		}
		&:visited { 
			color:lighten($grey, 40%); 
		}	
	}
	
}

// override .kv-table javascript styles
.table-responsive { border:none; }
.floatThead-wrapper > div { z-index:0 !important; }
// override stacking the TH's on mobile
@media screen and (max-width:480px){
	.kv-table-wrap td,
	.kv-table-wrap th { 
		display:table-cell;
		text-align:left;
		width:auto !important; 
	}
} */
/* =Highlighting of Domains ('actor' and 'other')
---------------------------------------------------- */
/* .table.table-light > tbody > tr {
	&.actor-domain {
		border-left:3px solid $blue;
	}
	&.actor-domain > td > a {
		color:darken($blue, 0%);
	}
	&.other-domain {
		border-left:3px solid $gold;
	}
	&.other-domain > td > a {
		color:darken($gold, 10%);
	}
} */
.domain-legend {
  list-style: none;
  margin: 1em 0;
  padding: 0;
  width: 100%; }

.domain-legend li {
  width: 33.33%; }

.domain-legend li span:first-of-type {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-right: 0.5em; }

.actor-domain .domain-value {
  background-color: #1655d6; }

.other-domain .domain-value {
  background-color: orange; }

/* input.actor-domain {
	color:darken($blue, 0%);
	border:1px solid $blue;
}
input.other-domain {
	color:darken($gold, 10%);
	border:1px solid $gold;
} */
/* =Pagination
---------------------------------------------------- */
.pagination {
  margin-top: 15px; }
  .pagination > li > a,
  .pagination > li > span {
    color: #1655d6;
    background-color: #fff; }
  .pagination > li > a:hover, .pagination > li > a:focus,
  .pagination > li > span:hover,
  .pagination > li > span:focus {
    z-index: 2;
    color: #fff;
    background-color: #1655d6;
    border-color: #1655d6; }
  .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
  .pagination > .active > span,
  .pagination > .active > span:hover,
  .pagination > .active > span:focus {
    color: #fff;
    background-color: #1655d6;
    border-color: #1655d6; }

/* =Manage Margets
---------------------------------------------------- */
.list-view > div:nth-of-type(2n+3) {
  clear: left; }

/* =Facebook Social Carousel
---------------------------------------------------- */
.flickity-viewport {
  transition: height 0.2s; }

.carousel {
  display: block;
  margin-top: 2em;
  margin-bottom: 3em; }

.carousel-cell {
  width: 90%;
  margin: 2em 5%;
  opacity: 0.5;
  border-radius: 5px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
  transform: scale(0.9);
  transition: all 0.5s ease; }

.carousel-cell.is-selected {
  transform: scale(1);
  opacity: 1; }

.carousel-template {
  color: #808da3; }

.carousel-head {
  padding: 15px 20px;
  border-bottom: 1px solid #e9ecf3; }

.carousel-brand {
  display: block;
  font-weight: bold;
  margin-bottom: 5px; }

.carousel-published {
  display: block;
  color: #acb5c3;
  font-size: 80%; }

.carousel-ext-link {
  float: right;
  margin-top: 10px;
  color: #acb5c3; }
  .carousel-ext-link:hover {
    color: #333333;
    text-decoration: none; }

.carousel-copy {
  padding: 20px;
  color: #808da3; }

.carousel-copy p {
  margin: 0; }

.carousel-copy-ext-link {
  color: #808da3; }
  .carousel-copy-ext-link:hover {
    color: #333333;
    text-decoration: none; }

.carousel-img {
  height: 200px;
  max-height: 200px;
  overflow: hidden; }
  .carousel-imga:hover {
    cursor: pointer; }

.carousel-img img {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.carousel-meta {
  padding: 0 20px 15px; }

.flickity-prev-next-button .arrow {
  fill: gray; }

.flickity-prev-next-button.no-svg {
  color: white; }

.flickity-prev-next-button.previous {
  left: 5%; }

.flickity-prev-next-button.next {
  right: 5%; }

@media (min-width: 480px) {
  .carousel-cell {
    width: 60%; }
  .carousel-img {
    height: 300px;
    max-height: 300px; }
  .flickity-prev-next-button.previous {
    left: 20%; }
  .flickity-prev-next-button.next {
    right: 20%; } }

@media (min-width: 1200px) {
  .carousel-cell {
    width: 40%; } }

/* =Add-on design for login
---------------------------------------------------- */
.login-wrapper {
  background: #01264a url(/images/login-bg.jpg?v3) center no-repeat;
  background-position: center top;
  min-height: 100%;
  padding-top: 2%;
  padding-bottom: 2%; }
  @media (min-width: 1200px) {
    .login-wrapper {
      background-size: cover; } }
  .login-wrapper .login-logo {
    display: block;
    margin: 0 auto 2em;
    max-width: 100px; }
    @media (min-width: 480px) {
      .login-wrapper .login-logo {
        max-width: 150px; } }
  .login-wrapper .login-heading {
    margin: 0 auto;
    max-width: 90%;
    text-align: center; }
  .login-wrapper .login-widget {
    margin-top: 0 !important; }
    .login-wrapper .login-widget #a0-lock .a0-panel {
      margin: 0 auto;
      -webkit-box-shadow: none;
      border: 1px solid #e9ecf3;
      border-radius: 1em;
      overflow: hidden; }
      .login-wrapper .login-widget #a0-lock .a0-panel .a0-bg-gradient {
        background-color: #f2f2f2;
        opacity: 1; }
      .login-wrapper .login-widget #a0-lock .a0-panel .a0-icon-container .a0-image img {
        height: 0; }
      .login-wrapper .login-widget #a0-lock .a0-panel .a0-footer .a0-logo {
        display: none; }
      .login-wrapper .login-widget #a0-lock .a0-panel button.a0-primary {
        margin: 0 auto;
        position: relative;
        display: inline-block;
        width: auto !important;
        padding: 0.66em 3em;
        text-indent: 0;
        height: auto;
        border-radius: 5em; }
        .login-wrapper .login-widget #a0-lock .a0-panel button.a0-primary:after {
          display: none; }
      .login-wrapper .login-widget #a0-lock .a0-panel .a0-success {
        color: #fff; }
      .login-wrapper .login-widget #a0-lock .a0-panel .a0-forgot-pass {
        border: 1px solid #d9d9d9;
        padding: 0.25em 1em;
        color: #333333;
        font-size: 80%;
        font-weight: 600;
        text-transform: uppercase;
        background-color: #fff;
        border-color: 1px solid #333333;
        border-radius: 3em; }
        .login-wrapper .login-widget #a0-lock .a0-panel .a0-forgot-pass:hover, .login-wrapper .login-widget #a0-lock .a0-panel .a0-forgot-pass:focus, .login-wrapper .login-widget #a0-lock .a0-panel .a0-forgot-pass:active {
          color: #333333;
          background-color: #d9d9d9;
          text-decoration: none; }
  .login-wrapper .login-footer {
    margin: 2em auto;
    max-width: 90%;
    text-align: center;
    color: #fff;
    font-size: 100%; }
    .login-wrapper .login-footer a {
      padding: 0.25em 1em;
      color: #333333;
      font-size: 80%;
      font-weight: 600;
      text-transform: uppercase;
      background-color: #fff;
      border-color: 1px solid #d9d9d9;
      border-radius: 3em; }
      .login-wrapper .login-footer a:hover, .login-wrapper .login-footer a:focus, .login-wrapper .login-footer a:active {
        color: #333333;
        background-color: #d9d9d9;
        text-decoration: none; }

/* =Dashboard 1.1
---------------------------------------------------- */
.im-portlet {
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }

/* =Market Overview
---------------------------------------------------- */
.market-overview-graphic {
  position: relative;
  width: 100%;
  display: block;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 25px; }

.market-overview-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
  z-index: 5; }

.market-overview-pill {
  border-radius: 4px; }

.market-overview-name {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0;
  padding: 20px;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 20px black; }
  @media (min-width: 992px) {
    .market-overview-name {
      top: auto;
      padding-bottom: 20%; } }

.market-overview-img {
  position: relative;
  overflow: hidden;
  height: 60px;
  background-color: #acb5c3;
  background-size: cover; }
  @media (min-width: 992px) {
    .market-overview-img {
      height: 400px; } }

.market-overview-graph {
  display: block;
  height: 400px; }

.graph-market-overview {
  height: 380px; }

/* =Leaderboard
---------------------------------------------------- */
@media (min-width: 768px) {
  .leaderboard-searchbar {
    width: 66.66%; } }

.table-leaderboard > tbody > tr.drawr > td {
  padding: 0; }

.table-leaderboard > thead > tr > th,
.table-leaderboard > tbody > tr > th,
.table-leaderboard > tfoot > tr > th,
.table-leaderboard > thead > tr > td,
.table-leaderboard > tbody > tr > td,
.table-leaderboard > tfoot > tr > td {
  padding: 0;
  border-top: 1px solid #e9ecf3; }

.table.table-light > tbody > tr > td {
  color: inherit; }

.table-leaderboard > thead > tr > th,
.table-leaderboard > tbody > tr > th {
  padding: 20px 10px;
  vertical-align: middle; }

.table-leaderboard > thead > tr > td,
.table-leaderboard > tbody > tr > td {
  padding: 5px 10px;
  vertical-align: middle; }

.trigger-drawr {
  cursor: pointer; }

@media (min-width: 1260px) {
  .lb-stats {
    width: 300px; } }

.lb-movement {
  display: block;
  float: left; }
  @media (min-width: 1260px) {
    .lb-movement {
      width: 25px; } }

.lb-percentage-wrap {
  position: relative;
  display: block;
  float: left; }
  @media (min-width: 1260px) {
    .lb-percentage-wrap {
      width: 275px; } }

.lb-percentage-line {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: #acb5c3;
  border-radius: 3px;
  vertical-align: middle; }

.lb-percentage-number {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 25px;
  margin-right: -35px;
  line-height: 0; }

.lb-pos .lb-movement {
  color: #01bc7d; }

.lb-pos .lb-percentage-line {
  background-color: #01bc7d; }

.lb-neg .lb-movement {
  color: #e03412; }

.lb-neg .lb-percentage-line {
  background-color: #e03412; }

.lb-steady .lb-movement {
  color: #1655d6; }

.lb-steady .lb-percentage-line {
  background-color: #1655d6; }

.drawr .drawr-inner {
  display: none; }

.drawr.active .drawr-inner {
  display: block; }

.portlet.portlet-nested {
  margin-bottom: 0; }

.portlet-nested .portlet > .portlet-title > .caption {
  font-size: 15px !important; }

/*.portlet.portlet-nested > .portlet-title {
	margin-bottom:0;
} */
.portlet.portlet-nested > .portlet-title > .caption {
  float: right; }

.portlet.portlet-nested > .portlet-title > .nav-tabs {
  float: left; }

.mini-profile .content {
  padding-left: 1em; }

.logo-circled {
  background-color: #fff;
  width: 75px;
  height: 75px;
  border-radius: 75px;
  border: 1px solid #e9ecf3;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px; }

.logo-circled img {
  display: block;
  width: 100%;
  max-width: 100%;
  position: relative;
  top: 48%;
  transform: translateY(-48%); }

.trigger-drawr .logo-circled {
  width: 50px;
  height: 50px;
  padding-left: 4px;
  padding-right: 4px;
  margin: 0 auto; }

.dashboard-stat3 .number {
  display: block;
  float: left;
  width: 50%; }
  .dashboard-stat3 .number h1, .dashboard-stat3 .number h2, .dashboard-stat3 .number h3 {
    margin: 0;
    color: inherit; }

.dashboard-stat3 .status {
  display: block;
  float: left;
  width: 50%; }

.dashboard-stat3 .status-item {
  display: block;
  font-weight: bold; }

.img-width-full {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1em; }

.fa-bell {
  color: orange; }

.fa-fire {
  color: #e03412; }

/* =AmCharts Animations
---------------------------------------------------- */
.amcharts-graph-stroke {
  stroke-dasharray: 3px 3px;
  stroke-linejoin: round;
  stroke-linecap: round;
  -webkit-animation: am-moving-dashes 1s linear infinite;
  animation: am-moving-dashes 1s linear infinite; }

@-webkit-keyframes am-moving-dashes {
  100% {
    stroke-dashoffset: -31px; } }

@keyframes am-moving-dashes {
  100% {
    stroke-dashoffset: -31px; } }
