/* here you can put your own css to customize and override the theme */

@import '../../global/_variables'; // import variables for media queries
@import '../../bootstrap/_variables'; // import variables for media queries
@import 'themes/_custom-variables'; // industry monitor theme level variables

/* Base
---------------------------------------------------- */
html, body {
	min-height:100%;
}
body { 
	color:$grey-shuttle; 
	background-color:$grey-steel;
	background-size:100% auto; 
	font-family:'Raleway', sans-serif; 
	-moz-font-feature-settings:'lnum=1';
	-ms-font-feature-settings:'lnum';
	-webkit-font-feature-settings:'lnum';
	-o-font-feature-settings:'lnum'; 
	font-feature-settings:'lnum';
}

// mobile font sizing override
@media (max-width:$screen-md-max) {
	ul,ol,p,
	table th,
	table td,
	.btn { font-size:100% !important; }
}

/* Typography
---------------------------------------------------- */
.megaheading,h1,h2,h3,h4,h5,h6 { color:$navy; }
.megaheading { font-size:28px; font-weight:300; margin:0; }
h1 { font-size:24px; font-weight:300; margin-top:0.5em; }
h2 { font-size:20px; font-weight:300; }
h3 { font-size:18px; font-weight:300; }
h4 { font-size:inherit; font-weight:bold; text-transform:uppercase; } 
h5 { font-size:inherit; font-weight:bold; } 
@media (min-width:$screen-lg-min) {
	.megaheading { font-size:80px; }
	h1 { font-size:40px; }
	h2 { font-size:30px; }
	h3 { font-size:24px; }
	h4 { font-size:20px; }
	h5 { font-size:18px; } 
}
.megaheading sup { top:-1.33em; font-size:33%; }

.page-heading {
	@media (min-width:$screen-sm) {
		display:inline-block; 
		vertical-align:middle;
		margin:0 0 0.5em;
	}
} 

// paragraph spacing overrides
p.lead + p.lead { margin-top:-0.5em; }
p.lead + p:not(.lead) { margin-top:-1em; }

.semibold { font-weight:600; }

a { 
	color:$blue; 
	&:hover, &:focus, &:active {
		color:darken($blue, 10%); 
		text-decoration:none;
	}
}
a:visited {
	color:inherit;
}

.overflow-hidden { overflow:hidden; }

.align-center { text-align:center; }
.text-muted { color:$grey-salsa; }
.text-info { color:$blue; }

.text-positive { color:$green; }
.text-steady { color:$blue; }
.text-negative { color:$red; }

// clearfix 
.cf {
	*zoom:1;
	&:before,
	&:after { content:" "; display:table; }
	&:after { clear:both; }
}

/* =Layout
---------------------------------------------------- */
// special class that allow half-width content, useful in big empty portlets
@media (min-width:$screen-md) { 
	.width-half {
		width:50%;
		margin:0 auto;
	}
}

// force remove sidebar
.page-content-wrapper .page-content {
	margin-left:0;
	padding-left:0;
}

// =DELETE? set z-index on major content areas for fixed nav
.page-sidebar-wrapper {
	position:relative;
	z-index:5;
}
.page-content-wrapper {
	position:relative;
	z-index:1;
}

// theme overrides
.page-boxed {
	// apply custom footer to new .page-wrapper class (cannot apply to body due to ".page-header-fixed")
	.page-wrapper{
		background:transparent url(/images/footer-bg-mobile.png) center bottom no-repeat;
		@media (min-width:$screen-xs-min) {
			background:transparent url(/images/footer-bg.png) center bottom no-repeat;
		}	
	}
	.container {
		@media (max-width:$screen-xs) { padding-left:0; padding-right:0; }
	}
	.page-container {
		background-color:transparent;
	}
	.page-footer { 
		text-align:center;
		color:darken($grey-steel, 33%);
		height:auto;
		padding-top:200px;
		padding-bottom:20px;
		@media (max-width:$screen-xs) { padding-top:120px; }
	}
	.footer-nav {
		list-style:none;
		margin:0 0 1em 0; 
		padding:0;
	}
	.footer-nav li {
		display:inline-block;
	}
	.footer-nav li a {
		display:block;
		color:darken($grey-steel, 33%);
		text-decoration:none;
		padding:0.5em;
		&:hover, &:focus, &:active {
			color:$grey-steel;
		}
	}	
	.go-top { 
		margin-left:0.5em; 
		a {
			color:darken($grey-steel, 33%);
			&:hover, &:focus, &:active { 
				color:#fff;
			}
		}
	}
}

/* =Nav
---------------------------------------------------- */
// hide sidebar toggle
.page-header.navbar .menu-toggler.sidebar-toggler {
	display:none;
}
// release logo from fixed width (fixed width was used to align logo visually with the sidebar in metronic theme)
.page-boxed .page-header.navbar .page-logo {
	width:auto;
}
// logo width
.page-header.navbar .page-logo img {
	max-width:125px;
	@media (max-width:$screen-xs) { margin-top:18px; }
	@media (min-width:$screen-xs) { max-width:170px; }
}
// settings dropdown overrides
.navbar-nav > li > a,
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > i {
	color:$grey-steel;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu:after {
	border-bottom-color:#fff;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
	padding:25px 10px;
}

/* =Buttons overrides
---------------------------------------------------- */
.btn {
	color:#fff;
	border:1px solid transparent;
	border-radius:25px;
	overflow:hidden;
	&:hover, &:focus, &:active {
		border:1px solid transparent;
	}
}
.btn.btn-default {
	border-color:$blue;
	color:$blue;
	background-color:transparent;
	border:1px solid $blue;
	&:hover, &:focus, &:active { 
		color:#fff; 
		background-color:$blue;
	}
}
.btn.btn-primary {
	color:#fff;
	background-color:$blue;
	&:hover, &:focus, &:active { 
		color:#fff; 
		background-color:darken($blue, 15%); 
	}
}
.btn.btn-success {
	color:#fff;
	background-color:$green;
	&:hover, &:focus, &:active { 
		color:#fff; 
		background-color:darken($green, 15%); 
	}
}
.btn.btn-info {
	//background-color:$green;
}
.btn.btn-warning {
	color:#fff;
	background-color:$yellow;
	&:hover, &:focus, &:active { 
		color:#fff; 
		background-color:darken($yellow, 15%); 
	}
}
.btn.btn-danger {
	color:#fff;
	background-color:$red;
	&:hover, &:focus, &:active { 
		color:#fff;
		background-color:darken($red, 15%); 
	}
}
.btn.btn-link {
	color:$blue;
}

.btn-sm, .btn-group-sm > .btn {
	padding:3px 10px;
}

// used in manage market widget
.btn-tool {
	color:#fff !important;
	padding-left:1em;
	padding-right:1em;
	background-color:$blue;
	&:hover, &:focus, &:active { 
		background-color:darken($blue, 15%); 
	}
}
button.btn-tool.dropdown-toggle {
	padding-left:0.25em !important;
	padding-right:0.25em !important;
}

@media (max-width:$screen-xs-max) {
	.actions.pull-left,
	.actions.pull-right { 
		float:left !important; 
		clear:left; 
	}
	.actions.pull-left { 
		margin-bottom:10px; 
	}
}

.btn.blue { 
	color:#fff; 
	background-color:$blue !important; 
	border-color:$blue;
	border:none; 
	&:hover, &:focus, &:active, &.active { 
	  background-color:darken($blue, 15%) !important;
	}
}
.btn.btn-outline.blue { 
	color:$blue !important; 
	border:1px solid $blue !important;
	background-color:transparent !important;
	&:hover, &:focus, &:active, &.active { 
		color:#fff !important; 
		border-color:$blue !important;
		background-color:$blue !important; 
	}
}
.open .btn.btn-outline.blue { 
	color:#fff !important; 
	border-color:$blue !important;
	background-color:$blue !important; 
} 

// prevent .input-group-btn from collapsing on mobile
.input-group-btn {
    font-size:inherit !important;
    white-space:normal !important;
}

/* =Manage Market Widget
---------------------------------------------------- */
.mmw-tools {
	margin-bottom:10px;
	@media (min-width:$screen-sm) {
		float:right;
	}
	@media (min-width:$screen-lg) {
		margin-top:10px;
	}
}
.market-menu-markets,
.market-menu-filter,
.market-menu-time-travel {
	@media (min-width:$screen-md) {
		margin-left:1em;
	}
}
.market-menu-time-travel {
	@media (max-width:$screen-md) {
		margin-left:1em;	
	}
}

.dropdown-menu > li {
	color:#555; // override
}
.dropdown-menu {
	.mt-radio, 
	.mt-checkbox,
	a.btn.action {
		margin:8px 16px;
		display:inline-block;
	}
}
// override last child li rounded corners hover
.dropdown-menu > li:last-child:hover > a.action {
	border-radius:$br-lg;
}

.mmw-date,
.mmw-url { 
	display:inline-block; 
	font-size:40%;
	color:$grey-salsa;
	background-color:#fff;
	padding:0.25em 0.5em;
	border-radius:$br-sm;
	vertical-align:middle;
}

/* =Forms
---------------------------------------------------- */
.hint-block { 
	text-transform:uppercase;
	font-size:80%; 
	letter-spacing:1px;
}
.control-label { font-weight:bold; }
.control-label + .hint-block { 
	margin-top:0; 
	margin-bottom:10px; 
}

/* =Molecules
---------------------------------------------------- */
.input-group-addon {
	background-color:lighten($grey-steel, 5%);
}
.input-group-justify {
	width:100%;
}
.input-group-justify .input-group-addon {
	text-align:left;
	width:70%;
}

// circled icons, used in social widget
.circled {
	display:block;

	.circled-icon {
		display:block;
		margin:0 auto;
		position:relative;
		width:50px; 
		height:50px;
		margin-bottom:10px;
		border:1px solid $grey-salsa;
		border-radius:100%;
		transition:all 0.2s ease-in-out;
		i {
			transition:all 0.2s ease-in-out;
			color:$grey-salsa;
			position:relative;
			top:45%;
			transform:translateY(-50%);
		}
	}
	.circled-text {
		transition:all 0.2s ease-in-out;
		display:block;
		color:$grey-salsa;
	}
}
a.circled.active,
a.circled:hover {
	.circled-icon {
		border-color:$blue;
		i {
			color:$blue;
		}
	}
	.circled-text {
		color:$blue;
	}
}

.img-width-full {
	display:block;
	width:100%;
	max-width:100%;
	margin-bottom:1em;
}

// big icons class
.icon-lg {
	font-size:200%;
}

// pop some mountains in the bg
.mntns-bg {
	background:#fff url(/images/bg-hills.jpg) center no-repeat;
	background-size:100% auto;
	background-position:center bottom; 
}

// colour the question mark tooltip icon
[data-toggle="tooltip"] i {
	color:darken($grey-steel,15%);
}

.traff-opps {
	position:relative;
}

#tooltip-traffopps-graph {
	position:absolute;
	top:7%;
	left:29.5%;
}
#tooltip-traffopps-node1 {
	position:absolute;
	top:12.3%;
	right:10%;
}
#tooltip-traffopps-node2 {
	position:absolute;
	top:42%;
	right:12%;
}
#tooltip-traffopps-node3 {
	position:absolute;
	top:71.7%;
	right:14%;
}


/* =Portlet 
   customisations and overrides
---------------------------------------------------- */
.portlet {
	@media (max-width:$screen-xs) { 
		padding:10px 10px 15px !important; 
	}
}
.portlet.light > .portlet-title > .caption { 
	font-weight:300;
}
.portlet.light > .portlet-title > .caption i {
	margin-right:0.5em;
} 
.portlet.light > .portlet-title > .caption > .caption-subject {
	color:$navy; 
	font-size:14px;
	font-weight:600;
}
.portlet.light > .portlet-title > .caption > .caption-helper {
	color:$grey-shuttle;
}
// override metronic theme action button colour
.portlet.light > .portlet-title > .actions .btn-default {
	color:$blue;
	&:hover, &:focus, &:active, &.active { 
		color:#fff;
		background-color:$blue;
	}
}
// new 'darker' style
.portlet.light.darker {
	background-color:lighten($grey-steel,5%);
}
// override portlet help text
h3.help-text { font-weight:normal; color:$grey-salsa; }
h3.help-text i { margin-bottom:0.66em; }

/* =portletCollapsable(); extension
---------------------------------------------------- */
.portlet.light.collapsable {
	.portlet-title {
		position:relative;
		border-bottom:none;
		padding-bottom:0;
		margin-bottom:0;
		min-height:auto;
		.trigger {
			position:absolute;
			width:100%;
			height:100%;
			z-index:10;
		}
		.indicator {
			opacity:0.5;
			transition:all 0.3s ease-in-out;
		}
	}
	.portlet-body {
		display:none;
	}
}
.portlet.light.collapsable.hover {
	.indicator {
		opacity:1;
	}
}
.portlet.light.collapsable.open {
	.indicator {
		transform:rotate(180deg);
	}
	.portlet-title {
		min-height:48px;
		border-bottom:inherit;
		margin-bottom:10px;
	}
}

/* =Graphs
---------------------------------------------------- */
@media (max-width:$screen-xs) { 
	.graph-helper { padding:0.5em; border-radius:$br-sm; }
	//.tools > a.fullscreen:before { color:$green; }
}
@media (min-width:$screen-xs) { 
	.graph-helper { display:block; }
}

/* =Social Engagement Widgets (Facebook Engagement/Comptitor Sales Messaging)
---------------------------------------------------- */
.social-post-title {
	margin-bottom:0.75em;
	color:$grey;
}
.social-post-template {
	margin-bottom:2em;
	color:darken($grey-salsa, 15%);
}
.social-post-image-wrapper {
	position:relative;
}
.social-post-image-wrapper {
	.fb-icon {
		position:absolute;
		z-index:5;
		top:10px;
		left:10px;
		color:#fff;
	}
}
.social-post-image {
	position:relative;
	display:block;
	width:100%;
	overflow:hidden;
	border:1px solid $grey-steel;
}
a .social-post-image {
	transition:filter 0.33s ease-in-out;
	&:hover { 
		filter:brightness(110%);
	}
}
.social-post-content {
	border-left:3px solid $grey-steel;
	padding-left:1.33em;
	line-height:1.66;
}
.social-post-meta {
	text-align:right;
}
.social-post-meta-label {
	margin-right:1em; 
}

.fb-icon {
	font-size:150%;
}

.competitor-list {
	list-style:none;
	margin:0 0 1em 0; 
	padding:0;
}
.competitor-list li {
	padding:0.33em 1em;
	&:nth-of-type(odd) {
		background-color:lighten($grey-steel, 2%);
	}
}
.competitor-list label {
	display:block;
}
.competitor-list .competitor-radio {
	margin-right:0.5em;
	&:checked + span {
		font-weight:bold;
	}
}

.ad-template {
	border:1px solid $grey-steel;
	border-radius:$br-sm;
	margin-bottom:1em;
}
.ad-content {
	padding:0.25em 1em 0;
	color:#545454;
}
.ad-title {
	color:$blue;
}
.ad-icon {
	background-color:#fff;
	border-radius:2px;
	color:#006621;
	display:inline-block;
	font-size:12px;
	border:1px solid #006621;
	padding:0 2px 0 2px;
	line-height:14px;
	vertical-align:baseline;
	margin-right:5px;
}
.ad-link {
	color:#006621;
	&:hover { 
		color:#006621; text-decoration:underline;
	}
}
.ad-description {
	margin-top:0.25em;
}
.landing-img {
	position:relative;
	display:block;
	width:100%;
	overflow:hidden;
	border:1px solid #fff;
}

/* =Manage Markets (first market setup page?)
---------------------------------------------------- */
.list-view > div:nth-of-type(2n+3) {
	clear:left;	
}

/* =Flickity as a carousel
---------------------------------------------------- */
.flickity-viewport {
  transition:height 0.2s; // adaptive height animation
}
.carousel {
	display:block;
	margin-top:2em;
	margin-bottom:3em;

	.carousel-cell {
		width:90%;
		margin:2em 5%;
		opacity:0.5;
		border-radius:5px;
		box-shadow:0 0 40px rgba(0,0,0,0.25);
		transform:scale(0.9);
		transition:all 0.5s ease;
	}
	.carousel-cell.is-selected {
		transform:scale(1);
		opacity:1;
	}

	// design
	.carousel-template {
		color:darken($grey-salsa, 15%);
	}
	.carousel-head {
		padding:15px 20px;
		border-bottom:1px solid $grey-steel;
	}
	.carousel-brand {
		display:block;
		font-weight:bold;
		margin-bottom:5px;
	}
	.carousel-published {
		display:block;
		color:$grey-salsa;
		font-size:80%;
	}
	.carousel-ext-link {
		float:right;
		margin-top:10px;
		color:$grey-salsa;
		&:hover {
			color:$grey;
			text-decoration:none;
		}
	}
	.carousel-copy {
		padding:20px;
		color:darken($grey-salsa, 15%);
	}
	.carousel-copy p {
		margin:0;
	}
	.carousel-copy-ext-link {
		color:darken($grey-salsa, 15%);
		&:hover {
			color:$grey;
			text-decoration:none;
		}
	}
	.carousel-img {
		height:200px;
		max-height:200px;
		overflow:hidden;
		&a:hover { 
			cursor:pointer;
		}
	}
	.carousel-img img { 
		width:100%; 
		position:relative;
		top:50%;
		transform:translateY(-50%);
	}
	.carousel-meta {
		padding:0 20px 15px;
	}
}

// arrow color
.flickity-prev-next-button .arrow {
	fill:gray;
}
.flickity-prev-next-button.no-svg {
	color:white;
}
// position outside
.flickity-prev-next-button.previous {
	left:5%;
}
.flickity-prev-next-button.next {
	right:5%;
}

@media (min-width:$screen-xs) {
	.carousel {
		.carousel-cell {
			width:60%;
		}
		.carousel-img {
			height:300px;
			max-height:300px;
		}
		.flickity-prev-next-button.previous {
			left:20%;
		}
		.flickity-prev-next-button.next {
			right:20%;
		}
	}
}
@media (min-width:$screen-lg) {
	.carousel {
		.carousel-cell {
			width:40%;
		}
	}
}

/* =Flickity as a slider
---------------------------------------------------- */
.slider {
	margin-bottom:40px;

	p:first-of-type {
		margin-top:0;
	}
	.carousel-cell {
		width:100%;
		padding:20px;
	}
	.flickity-prev-next-button {
		display:none;
	}
}

/* =Add-on design for login page
	Now with auth0 overrides!
---------------------------------------------------- */
.login-wrapper {
	background:#01264a url(/images/login-bg.jpg?v3) center no-repeat; 
	background-position:center top; 
	min-height:100%;
	padding-top:2%;
	padding-bottom:2%;
	@media (min-width:$screen-lg) {
		background-size:cover;
	}
	.login-logo {
		display:block;
		margin:0 auto 2em;
		max-width:100px;
		@media (min-width:$screen-xs) {
			max-width:150px; 
		}
	}
	.login-heading {
		margin:0 auto;
		max-width:90%;
		text-align:center;
	}
	.login-widget { 
		margin-top:0 !important; 

		#a0-lock .a0-panel {
			margin:0 auto;
			-webkit-box-shadow:none;
			border:1px solid $grey-steel;
			border-radius:1em;
			overflow:hidden; 

			.a0-bg-gradient {
				background-color:darken(#fff, 5%);
				opacity:1;
			}
			.a0-icon-container .a0-image img {
				height:0;
			}
			.a0-footer .a0-logo { 
				display:none; 
			}
			button.a0-primary {
				margin:0 auto; 
				position:relative;
				display:inline-block;
				width:auto !important;
				padding:0.66em 3em;
				text-indent:0;
				height:auto;
				border-radius:5em;
				&:after { 
					display:none; 
				}
				&:hover, &:focus, &:active {
					//background-color:darken($red, 10%);
				}
			}
			.a0-success {
				color:#fff;
			}
			.a0-forgot-pass {
				&:hover {
					text-decoration:underline;
				}
			}
		}
	}
	.login-footer {
		margin:2em auto;
		max-width:90%;
		text-align:center;
		color:#fff;
		font-size:100%;
		a {
			padding:0.25em 1em;
			color:$grey;
			font-size:80%;
			font-weight:600;
			text-transform:uppercase; 
			background-color:#fff;
			border-color:1px solid darken(#fff, 15%);
			border-radius:$br-lg;
			&:hover, &:focus, &:active {
				color:$grey;
				background-color:darken(#fff, 15%);
				text-decoration:none;
			}
		}
	}
}

/* =Market Overview
---------------------------------------------------- */
$market-overview-height-sm:250px;
$market-overview-height-lg:400px;

.market-overview-graphic {
	position:relative;
	width:100%;
	display:block;
	border-radius:$br-sm;
	overflow:hidden;
	margin-bottom:25px;
}
.market-overview-info {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%; 
	height:100%;
	padding:20px;
	text-align:center;
	z-index:5;
}
.market-overview-pill {
	color:#fff;
	background-color:$green;
	border-radius:$br-sm;
	font-size:12px;
	padding:0.25em 0.5em;
}
.market-overview-name {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:auto;
	margin:0;
	padding:20px;
	text-align:center;
	color:#fff;
	text-shadow:0 0 20px rgba(0,0,0,0.33);
	@media (min-width:$screen-md) {
		padding-bottom:20%;
	}
}
.market-overview-img {
	position:relative;
	overflow:hidden;
	//height:150px;
	padding-bottom:50%;
	background-color:$grey-salsa;
	background-position:center;
	background-size:cover;
	@media (min-width:$screen-md) {
		height:$market-overview-height-lg;
	}
}
.market-overview-graph {
	position:relative;
	display:block;
	height:$market-overview-height-lg;
}
.graph-market-overview {
	height:380px;
}
.market-overview-graph-tooltip {
	position:absolute;
	bottom:10px;
	right:15px;
	z-index:999;
	@media (min-width:$screen-sm) {
		bottom:30px;
		right:45px;
	}
}

/* =Tables
---------------------------------------------------- */
.table-im {
	position:relative;
	width:100%;
	z-index:1;
}
.table-im > thead > tr > th,
.table-im > thead > tr > td,
.table-im > tbody > tr > th,
.table-im > tbody > tr > td,
.table-im > tfoot > tr > th,
.table-im > tfoot > tr > td,
.table-im > tr > th,
.table-im > tr > td {
	border-top:1px solid $grey-steel;
	font-size:12px !important;
}
.table-im tr:last-of-type {
	border-bottom:1px solid $grey-steel;
}
th {
	color:$navy;
	font-weight:600;
	background-color:transparent;
}
tbody tr:hover {
	background-color:lighten($grey-steel, 4%);
}
td { 
	text-align:left;
	background-color:transparent;
	position:relative;;
	z-index:1;
}

/* =Leaderboard
---------------------------------------------------- */
.table-im > thead > tr > th,
.table-im > tbody > tr > th {
	padding:10px;
	vertical-align:middle;
}

// sticky th
.table-im > thead > tr > th, 
.table-im > tbody > tr > th {
	position:-webkit-sticky;
	position:sticky;
	top:-1px;
	z-index:100;
}
// colour for .portlet.light.darker
.portlet.light.darker {
	.table-im > thead > tr > th, 
	.table-im > tbody > tr > th {
		background-color:lighten($grey-steel,5%);
		border-bottom:1px solid $grey-steel;
	}
}

.table-im { 
	//border-collapse:separate;
}

.table-im > thead > tr > td,
.table-im > tbody > tr > td {
	padding:10px;
	vertical-align:middle;
}

// table search bar
.table-searchbar {
	padding:0 0.5em 10px;
	@media (min-width:$screen-sm) {
		float:left;
		width:60%;
	}
}

// position
.table-leaderboard tr th:nth-of-type(1),
.table-leaderboard tr td:nth-of-type(1),
// brand
.table-leaderboard tr th:nth-of-type(2),
.table-leaderboard tr td:nth-of-type(2),
// compare
.table-leaderboard tr th:nth-of-type(5),
.table-leaderboard tr td:nth-of-type(5) {
	width:5%;
	text-align:center;
}

// leaderboard legend 
.leaderboard-legend {
	text-align:right;
	@media (min-width:$screen-sm) {
		float:right;
		width:30%;
		padding:0 0.5em 10px;
	}
}
.lb-legend {
	display:inline-block;
	list-style-type:none;
	margin:0;
	padding:5px 0 0;
	font-weight:normal;
	font-size:90% !important;
}
.lb-legend > li {
	display:inline-block;
	text-align:center;
	margin:0 0.5em;
}
.lb-legend-node {
	display:block;
	margin:0 auto 3px;
	padding:0;
	width:6px; 
	height:6px;
	border-radius:$br-sm;

	&.lb-pos {
		background-color:$green;
	}
	&.lb-neg {
		background-color:$red;
	}
	&.lb-steady {
		background-color:$blue;
	}
}

// styles
.drawr-trigger {
	cursor:pointer;
	&.active,
	&:hover { 
		background-color:lighten($grey-steel, 4%);
	}
}

.lb-stats {
	@media (min-width:$screen-md) {
		width:300px;
	}
}
.lb-movement {
	display:block;
	float:left;
	@media (min-width:$screen-md) {
		width:25px;
	}
}
.lb-percentage-wrap {
	position:relative;
	display:block;
	float:left;
	@media (min-width:$screen-md) {
		width:275px;
	}
}
.lb-percentage-line {
	position:relative;
	display:inline-block;
	width:100%;
	height:4px;
	background-color:$grey-salsa;
	border-radius:4px;
	vertical-align:middle;
}
.lb-percentage-number {
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	width:25px;
	margin-right:-35px;
	line-height:0;
}

// positive and negative movement colour coding
.lb-pos {
	.lb-movement {
		color:$green;
	}
	.lb-percentage-line {
		background-color:$green;
	}
}
.lb-neg {
	.lb-movement {
		color:$red;
	}
	.lb-percentage-line {
		background-color:$red;
	}
}
.lb-steady {
	.lb-movement {
		color:$blue;
	}
	.lb-percentage-line {
		background-color:$blue;
	}
}

// table-drawr
.drawr .drawr-inner {
	//background-color:lighten($grey-steel, 3%);
	display:none;
}
.drawr.active .drawr-inner {
	display:block;
}

// leaderboard drawr portlets overrides
.tabbable-line {
	margin-bottom:1em;
}
.nav-pills > li > a {
	border-radius:$br-lg;
	border:1px solid $blue;
	padding:6px 12px;
}
.nav-pills > li > a:hover, 
.nav-pills > li > a:focus,
.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus {
	color:#fff;
	background-color:$blue;
}

// little logos
[class^="logo-circled"] {
	text-align:center;
	border-radius:100px;
	background-color:#fff;
	text-align:center;
}
[class^="logo-circled"] img {
	display:block;
	margin:0 auto;
	width:16px;
	position:relative;
	top:42%;
	transform:translateY(-42%);
}
.logo-circled-sm {
	width:36px;
	height:36px;
	margin:0 auto;
}
.logo-circled-md { 
	width:75px;
	height:75px;
}

/* =Revenue Opportunitiy 
   =Calculator 
   =Keyword and URL Filter Tables
---------------------------------------------------- */
.oppcalc-step-2 {
	.portlet-body {
		min-height:7em;
	}
}
.table-switch {
	position:relative;
}
.table-wrap {
	position:relative;
	border-top:1px solid $grey-steel;
	height:350px;
	overflow:scroll;
	@media (min-width:$screen-md) {
		height:auto;
		min-height:350px;
		max-height:500px;
	}
}

// hover to reveal long URLs
.hover-to-reveal {
	max-width:0;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	z-index:10;
}
.hover-to-reveal:hover {
	overflow:visible;
	text-overflow:none;
}
.hover-to-reveal:hover a {
	background-color:lighten($grey-steel,5%);
}
.hover-to-reveal a {
	text-decoration:none;
}

// accordion
.table-im .open {
	background-color:lighten($grey-salsa,20%);
}
.table-im .open ~ .child {
	background-color:lighten($grey-salsa,23%);
}
.table-im .open .fa {
	transform:rotate(180deg);
}
.table-im .parent:hover {
	cursor:pointer;
}

// calculator column
.col-calculator {
	position:relative;

	.portlet > .portlet-body {
		padding-top:0 !important;
	}
	.number {
		position:relative;
	}
}

// new dashboard-stat class
.dashboard-stat3 {
	.number {
		float:left;
		width:49%;
	}
	.info {
		float:left;
		width:49%;
	}
	.stats {
		list-style:none;
		padding-left:0;
	}
	.stat-item {
		text-transform:uppercase;
		font-size:75%;
		font-weight:bold;
		display:inline-block;
		min-width:6em;
	}
}

.number {
	h1,h2,h3,h4,h5,h6 {
		margin:0;
		font-weight:normal;
	}
}
.number-primary { 
	margin-top:10px; 
}

/* =Modals
---------------------------------------------------- */
.modal-lg {
	width:90%;
}
@media (min-width:$screen-lg) {
	.modal-lg {
		width:1100px;
	}
}
.modal-content {
	border:none;
	box-shadow:0 0 40px rgba(0,0,0,0.25);
}

/* =AmCharts
---------------------------------------------------- */
.amcharts-legend-label {
	text-decoration:underline;
}
.blockMsg {
	border-radius:$br-sm !important;
}

/* =Loading Wrapper
---------------------------------------------------- */
.loading-wrapper {
	display:none;
	position:fixed;
	overflow:hidden;
	text-align:center;
	background-color:$blue-sky;
	background-color:rgba(229,246,255,0.95);
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:9999;
	text-transform:uppercase;
	font-size:90%;
	letter-spacing:2px;
	color:$navy;
}
.loading-img {
	position:relative;
	display:block;
	margin:25% auto 0;
	width:40px;
	height:40px;
	background:transparent url(/images/loading-eagle.png) top center no-repeat;	
	background-size:40px 40px;
	z-index:10000;
}
@keyframes animateEagle {
	0%   { transform:translateY(0); }
	50% { transform:translateY(-10px); }
	100% { transform:translateY(0); }
}
.loading-anim {
	animation:animateEagle 2.5s ease-in-out infinite;
}
