/* here you can put your own css to customize and override the theme */

@import '../../bootstrap/_variables'; // import variables for media queries
@import 'themes/_custom-variables'; // industry monitor theme level variables

/* Typography
---------------------------------------------------- */
html, body {
	min-height:100%;
}
body { 
	color:$grey; 
	background-color:$light-blue-grey;
	background-size:100% auto; 
	font-family:'Raleway', sans-serif; 
	font-feature-settings:'lnum';
	-moz-font-feature-settings:'lnum=1';
	-ms-font-feature-settings:'lnum';
	-webkit-font-feature-settings:'lnum';
	-o-font-feature-settings:'lnum'; 
}

h1 { font-size:24px; color:$navy; font-weight:normal; text-transform:uppercase; }
h2 { font-size:20px; color:$navy; font-weight:normal; }
h3 { font-size:18px; color:$blue; font-weight:bold; }
h4 { font-size:16px; color:$blue; font-weight:normal; } 

@media (min-width:$screen-lg-min) {
	h1 { font-size:40px; }
	h2 { font-size:35px; }
	h3 { font-size:25px; }
	h4 { font-size:20px; } 
}

@media (max-width:$screen-md-max) {
	ul,ol,p,
	table th,
	table td,
	.btn { font-size:100% !important; }
}

a { 
	color:$blue; 
	&:hover, &:focus, &:active {
		color:darken($blue, 10%); 
		text-decoration:underline;
	}
}

/* 
.font-status-positive { color:$green !important; }
.font-status-static { color:gold !important; }
.font-status-negative { color:$red !important; } 
*/

/* =Add-on design
---------------------------------------------------- */
.login-wrapper {
	background:#01264a url(/images/login-bg.jpg?v3) center no-repeat; 
	background-position:center top; 
	min-height:100%;
	padding-top:2%;
	padding-bottom:2%;
	@media (min-width:$screen-lg) {
		background-size:cover;
	}
	.login-logo {
		display:block;
		margin:0 auto 2em;
		max-width:100px;
		@media (min-width:$screen-xs) {
			max-width:150px; 
		}
	}
	.login-heading {
		margin:0 auto;
		max-width:90%;
		text-align:center;
	}
	.login-widget { 
		margin-top:0 !important; 

		#a0-lock .a0-panel {
			margin:0 auto;
			-webkit-box-shadow:none;
			box-shadow:none;
			border:1px solid $light-blue-grey;
			border-radius:1em;

			.a0-icon-container {
				height:20px;
			}
			.a0-icon-container .a0-image img {
				height:0;
			}
		}
		#a0-lock.a0-theme-default .a0-panel button.a0-primary {
			padding:1em 2em;
			border-radius:$br-lg;
			background-color:$red;
			&:hover, &:focus, &:active {
				background-color:darken($red, 10%);
			}
		}
		#a0-lock.a0-theme-default .a0-panel .a0-footer .a0-logo { 
			display:none; 
		}
	}
	.login-footer {
		margin:2em auto;
		max-width:90%;
		text-align:center;
		color:#fff;
		font-size:100%;
		a {
			padding:0.25em 1em;
			color:$grey;
			font-size:80%;
			letter-spacing:1px;
			font-weight:bold;
			text-transform:uppercase; 
			background-color:#fff;
			border-color:1px solid $grey;
			border-radius:$br-lg;
			&:hover, &:focus, &:active {
				color:$grey;
				background-color:darken(#fff, 15%);
				text-decoration:none;
			}
		}
	}
}
.page-boxed {

	// apply custom footer to new .page-wrapper class (cannot apply to body due to ".page-header-fixed")
	.page-wrapper{
		background:transparent url(/images/footer-bg-mobile.png) center bottom no-repeat;
		@media (min-width:$screen-xs-min) {
			background:transparent url(/images/footer-bg.png) center bottom no-repeat;
		}	
	}
	.page-header.navbar .page-logo .logo-default {
		max-width:125px;
		@media (max-width:$screen-xs) { margin-top:18px; }
		@media (min-width:$screen-xs) { max-width:170px; }
	}
	.container {
		@media (max-width:$screen-xs) { padding-left:0; padding-right:0; }
	}
	.page-container {
		background-color:transparent;
	}
	.portlet {
		@media (max-width:$screen-xs) { padding:10px 10px 15px; }
	}
	.page-footer { 
		text-align:center;
		color:darken($light-blue-grey, 33%);
		height:auto;
		padding-top:200px;
		padding-bottom:20px;
		@media (max-width:$screen-xs) { padding-top:120px; }
	}
	.footer-nav {
		list-style:none;
		margin:0 0 1em 0; 
		padding:0;
	}
	.footer-nav li {
		display:inline-block;
	}
	.footer-nav li a {
		display:block;
		color:darken($light-blue-grey, 33%);
		text-decoration:none;
		padding:0.5em;
		&:hover, &:focus, &:active {
			color:$light-blue-grey;
		}
	}	
	.go-top { 
		margin-left:0.5em; 
		a {
			color:darken($light-blue-grey, 33%);
			&:hover, &:focus, &:active {
				color:#fff;
			}	
		}
	}

}

/* =Buttons
---------------------------------------------------- */
.btn { 
	display:inline-block !important; 
	border-radius:$br-sml; 
	//transition:all 0.25s ease-in-out; 
	color:$grey;
	background-color:#fff;
	border:1px solid $grey;
	border-radius:$br-lg; 
}
.btn-default { 
	color:$blue; 
	background-color:transparent; 
	border:2px solid $blue;
	&:hover, &:focus, &:active { 
		color:#fff; 
		background-color:$blue; 
		border:2px solid $blue; 
	}
}
.btn-primary { 
	color:#fff; 
	background-color:$red; 
	border:2px solid $red;
	&:hover, &:focus, &:active { 
		color:#fff; 
		background-color:darken($red, 10%); 
		border:2px solid darken($red, 10%); 
	}
}
.btn.btn-warning { 
	color:$gold; 
	background-color:transparent; 
	border:2px solid $gold;
	&:hover, &:focus, &:active { 
		color:#fff; 
		background-color:$gold; 
		border:2px solid $gold; 
	}
}
.btn-info { 
	color:$red; 
	background-color:transparent; 
	border:2px solid $red;
	&:hover, &:focus, &:active { 
		color:#fff; 
		background-color:$red; 
		border:2px solid $red; 
	}
}
.btn.blue { 
	color:#fff; 
	background-color:$blue !important; 
	border:none; 
	&:hover, &:focus, &:active { 
		background-color:darken($blue, 15%) !important; 
	}
}
.btn-rounded { 
	padding-left:2em; 
	padding-right:2em; 
	border-radius:$br-lg; 
}

// manage market widget
.btn-tool {
	padding-left:1em;
	padding-right:1em;
	border-radius:$br-lg; 
}
button.btn-tool.dropdown-toggle {
	padding-left:0.25em !important;
	padding-right:0.25em !important;
}

@media (max-width:$screen-xs-max) {
	.actions.pull-left,
	.actions.pull-right { 
		float:left !important; 
		clear:left; 
	}
	.actions.pull-left { 
		margin-bottom:10px; 
	}
}

.navbar-nav .btn-nav .username {
	color:$light-blue-grey !important;
	opacity:0.6;
	margin-top:20px;
	&:hover, &:focus, &:active, &:active { 
		background:transparent; 
		opacity:1; 
	}
	i { 
		margin-left:1em; 
	}
}

/* =Forms
---------------------------------------------------- */
.hint-block { 
	text-transform:uppercase;
	font-size:80%; 
	letter-spacing:1px;
}

/* =Modules
---------------------------------------------------- */
.mntns-bg {
	background:#fff url(/images/bg-hills.jpg) center no-repeat;
	background-size:100% auto;
	background-position:center bottom; 
}	

/* =portlet
---------------------------------------------------- */
.portlet.light > .portlet-title > .caption { 
	color:$grey !important; 
	font-weight:normal; 
}
// portlet help text
h3.help-text { font-weight:normal; color:$mid-grey; }
h3.help-text i { margin-bottom:0.66em; }

/* =Dashboard
---------------------------------------------------- */
.dashboard-hero { 
	padding:20px;
	margin-bottom:20px;

	h2 { font-weight:bold; margin-top:0; }	
	h3 { text-transform:uppercase; margin-top:0.25em; }
}
.dashboard-hero-logo { 
	display:block; 
	float:right; 
	max-height:50px; 
	margin:0 0 1em 1em; 
	@media (min-width:$screen-sm) { max-height:80px; }
}

/* =Stat Boxes
---------------------------------------------------- */
.dashboard-stat2 {
	.node-value { 
		color:$blue-darkest; 
	}
	small i { font-size:75% !important; }
}

.glyphicon-chevron-up,
.glyphicon-chevron-up + span { color:$green-sharp !important; }
.glyphicon-chevron-down,
.glyphicon-chevron-down + span { color:$red !important; }

/* =Chart.js
---------------------------------------------------- */
.chart-legend {
	margin:2em 1em;
	@media (min-width:$screen-sm) { columns:2; }
	@media (min-width:$screen-lg) { columns:3; }
}
.chart-legend ul { 
	list-style:none; 
	margin:0; 
	padding:0; 
}
.chart-legend ul li span { 
	display:inline-block; 
	width:12px; 
	height:12px; 
	margin-right:0.66em;
	border-radius:12px;
}

/* =Nav
---------------------------------------------------- */
.nav > li > a {
	color:$light-blue-grey !important;
	opacity:0.6;
	&:hover, &:focus, &:active, &:active { 
		background:transparent; opacity:1; 
	}
}
.page-sidebar .page-sidebar-menu > li > a {
	border-top:none;
}
.page-sidebar .page-sidebar-menu > li.divider {
	border-top:2px solid lighten($blue, 10%);
}
.page-header.navbar .menu-toggler.responsive-toggler {
	margin:20px 0 0 0;
	@media (min-width:$screen-lg) { margin:20px 14px 0 6px; }
}

/* =Table Overrides
---------------------------------------------------- */
table thead { 
	color:$grey; 
}
table thead tr th,
.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td { 
	border:none !important;
}
table.table-striped > tbody > tr:nth-of-type(odd) {
	background-color:lighten($light-blue-grey, 2%);
}
.table.table-light > thead > tr > th {
	color:$grey;	
}
.table.table-light > tbody > tr > td { 
	color:$grey;
	a {
		color:$grey;
		text-decoration:underline;
		&:hover, &:focus, &:active {
			color:$blue;
		}
	}
	
}

// override .kv-table javascript styles
.table-responsive { border:none; }
.floatThead-wrapper > div { z-index:0 !important; }
// override stacking the TH's on mobile
@media screen and (max-width:480px){
	.kv-table-wrap td,
	.kv-table-wrap th { 
		display:table-cell;
		text-align:left;
	}
}

/* =Pagination
---------------------------------------------------- */
.pagination {
	margin-top:15px;
	> li {
		> a,
		> span {
			color:$blue;
			background-color:#fff;
		}
  }
  > li > a,
  > li > span {
		&:hover,
		&:focus {
			z-index: 2;
			color:#fff;
			background-color:$blue;
			border-color:$blue;
		}
	}
	> .active > a,
	> .active > span {
		&,
		&:hover,
		&:focus {
			color:#fff;
			background-color:$blue;
			border-color:$blue;
		}
 	}
	> .disabled {
		> span,
		> span:hover,
		> span:focus,
		> a,
		> a:hover,
		> a:focus {
		}
	}
}

/* =Manage Margets
---------------------------------------------------- */
.list-view > div:nth-of-type(2n+3) {
	clear:left;	
}