// Custom colour palette (listed lightest to darkest)

$grey-steel:#e9ecf3;
$grey-salsa:#acb5c3;
$grey-shuttle:#778190;

$grey-light:#cccccc;
$grey:#333333;

$blue-sky:#e5f6ff;
$blue:#1655d6;
$blue-darker:#0f40a8;
$blue-darkest:#092c7b;
$navy:#00103e;

$green:#01bc7d;
$green-sharp:#2ab4c0;

$yellow:#ec971f;
//$gold:#ffa500; // 'orange'
$yellow-gold:#e87e04;

$red:#c9302c;
//$red:#e43a45;

.font-red-mint { colour:$red; }
.font-blue { colour:$blue; }
.font-green { colour:$green; }

// Border radius
$br-sm:4px;
$br-lg:3em;