// Custom colour palette

$light-blue-grey:#e9ecf3;
$mid-grey:#aab5bc;
$grey:#333333;

$blue:#1655d6;
$blue-darker:#0f40a8;
$blue-darkest:#092c7b;
$navy:#00103e;

$green:#01bc7d;
$green-sharp:#2ab4c0;

$gold:orange;

$red:#e03412;

// Border radius
$br-sm:4px;
$br-lg:3em;